@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-gray-800;
    }
    
    :focus-visible {
        @apply outline-none ring-2 ring-maroon-600 ring-offset-2;
    }
}

[x-cloak] {
    display: none;
}

::selection {
    @apply bg-maroon-100 text-maroon-900;
}
